<!DOCTYPE HTML>
<html>
	<head>
		<title>WeatherNN - Error</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<h1><a href="/">WeatherNN</a></h1>
						<nav class="main">
							<ul>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">
						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="/">
											<h3>Домой</h3>
											<p>Главная страница</p>
										</a>
									</li>
									<li>
										<a href="/faq">
											<h3>FAQ</h3>
											<p>Описание сервиса</p>
										</a>
									</li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a>Упс, а такой город точно есть?</a></h2>
										<p>Попробуй подождать и ввести его заново, если ты точно уверен</p>
									</div>
								</header>
								<footer>
									<ul class="actions">
										<li><a href="/" class="button large">Вернуться</a></li>
									</ul>
								</footer>
							</article>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="static/images/logo.png" alt="" /></a>
								<header>
									<h2>WeatherNN</h2>
									<p>Одевайся по погоде в Нижнем Новгороде и не только</p>
								</header>
							</section>

						<!-- Footer -->
							<section id="footer">
								<p class="copyright">&copy; by Mayorov Yuri for CTOSchool.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
	</body>
</html>